*{
    box-sizing: border-box;
}

// ----- Declaração de variáveis ----- //
.icon-colors{
    --moon-color: rgb(121, 195, 255);
    --sun-color: rgb(240, 84, 144);
}

// ----- Estilos individuais ----- //
.pointer{
    cursor: pointer;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.label{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    border-radius: 50px;
    height: 26px;
    width: 50px;
}

.ball{
    background-color: #fff;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    cursor: pointer;
    transition: .1s linear;
}

.checkbox:checked + .label .ball{
    transform: translateX(24px);
}

// -- Cores dos ícones -- //
.fa-moon{
    color: var(--moon-color);
}
.fa-sun{
    color: var(--sun-color);
}
// -------------------------------------------------- //