<div>
  <header>
    <div class="logo-container">
      <img src="../assets/logos/bakery.png" alt="Bakery Logo">
      <h2>{{ title }}</h2>
    </div>

    <nav>
      <ul>
        <li><theme-toggle (changeTheme)="switchTheme()" class="toggle"></theme-toggle></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Home</a></li>
      </ul>
    </nav>
  </header>

  <div class="options-list">
    <div class="option pessoas">
      CLIENTES
    </div>
  
    <div class="option pessoas">
      FORNECEDORES
    </div>
  
    <div class="option doces">
      DOCES E SERVIÇOS
    </div>

    <div class="option contratos">
      VENDAS
    </div>

    <div class="option contratos">
      AQUISIÇÕES
    </div>

    <div class="option dados">
      DADOS
      <div class="item">

      </div>
    </div>
  </div>
</div>
