/*  ===================================
                Imports
    ===================================  */
    @import url("../styles.scss");


    /*  ===================================
                     Variables
        =================================== */
    $main-title-font-size: 3em;
    $links-font-size: 1em;
    
    $title-font-weight: 900;
    
    $global-spacing: 1.2rem;
    $individual-spacing: 1rem;
    
    
    $full-size: 100%;
    $half-size: 50%;
    $one-fourth-size: 25%;
    
    
    /* ESTILOS DO HEADER */
    .sticky-header{
        top: 0;
        position: sticky;
        min-height: 64px;
        width: $full-size;
        background-color: var(--background-header1);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
        /* padding: $global-spacing; */
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
    }
    .title{
        font-family: blackSpartan;
        margin: $individual-spacing;
    }
    h2{
        font-size: $main-title-font-size;
    }
    .list-inline{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    li a{
        position: relative;
        margin: $individual-spacing;
        font-size: $links-font-size;
        transition: .3s;
    }
    li:last-child{
        margin: $individual-spacing;
    }
    
    // ----- UNDERLINE ----- //
    .hover-underline::after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: var(--text-color1);
        transform-origin: center;
        transition: transform .4s ease-out;
    }
    .hover-underline:hover:after{
        transform: scaleX(1);
        transform-origin: center;
    }


    