<div class="sticky-header">
  <div class="title">
    <a href="#"><h2>{{ title }}</h2></a>
  </div>
  <div>
    <ul class="list-inline">
      <li><a href="#sobre" class="hover-underline">Sobre nós</a></li>

      <li><a href="#menu" class="hover-underline">Menu</a></li>
      
      <li><a href="#reserva" class="hover-underline">Faça sua reserva</a></li>

      <li><theme-toggle (changeTheme)="switchTheme()"
         (click)="onThemeChange()"
         class="toggle"></theme-toggle></li>
    </ul>
  </div>
</div>

<!-- Seta para baixo -->
<div class="home-screen scroll">
  <span class="down-arrow ripple-loader">
    <div></div>
    <!-- <span class="scroll-text">SCROLL DOWN</span> -->
      <a href="#sobre" class="fa-chevrondown">
        <fa-icon [icon]="downArrowICO" class="fas fa-chevrondown icon-colors"></fa-icon>
      </a>
  </span>
</div>

<!-- Seção de "Sobre nós (About)" -->
<section id="sobre" class="about content">
  <div class="left-column">
    <!-- <div class="box-shadow1"></div> -->
    <div class="text-container">
      <h5 data-aos="fade-up" data-aos-delay="100">SOBRE NÓS</h5>
      <p data-aos="fade-up" data-aos-delay="250">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, tenetur.</p>
      <p data-aos="fade-up" data-aos-delay="250">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias est officia temporibus dolores eaque minima impedit eos deserunt quidem assumenda vel, numquam, odit iure nam deleniti illo. Ipsam dolorum voluptatibus quis natus molestiae magnam ut quidem porro neque beatae et, mollitia quod, in eaque omnis assumenda! Inventore impedit doloremque quod?</p>
      <p data-aos="fade-up" data-aos-delay="250">Lorem ipsum dolor sit amet.</p>
      <p data-aos="fade-up" data-aos-delay="600"><a href="#menu" class="menu-link">VER MENU</a></p>
    </div>
  </div>

  <div class="right-column">
    <div class="inner-right-column" data-aos="zoom-in-up">
      <img class="image1" [src]="dynamicPath">
    </div>
  </div>
</section>


<!-- Seção dos doces (Menu) -->
<section id="menu" class="menu content">
  <!-- <div class="inner-menu">
    <h5 class="title">MENU</h5>
    <div class="list-rows1">
      <div class="left">

        <div class="card" data-aos="zoom-out-up" data-aos-delay="150" data-aos-anchor-placement="bottom-bottom">
          <div class="image-container">
            <img src="../assets/images/cupcake-chocolate.jpg" alt="imagem-prato">
          </div>
          <div class="info-text">
            <h5>Nome</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio facere rerum blanditiis fugiat fuga voluptatem mollitia, veniam harum numquam veritatis!</p>
            <p>Valor: R$9,99</p>
          </div>
        </div>

        <hr style="width: 100%;">

        <div class="card" data-aos="zoom-out-up" data-aos-delay="250" data-aos-anchor-placement="bottom-bottom">
          <div class="image-container">
            <img src="../assets/images/xsingle_food_1.png.pagespeed.ic.BEzTNKCjrm.png" alt="imagem-prato">
          </div>
          <div class="info-text">
            <h5>Nome</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio facere rerum blanditiis fugiat fuga voluptatem mollitia, veniam harum numquam veritatis!</p>
            <p>Valor: R$9,99</p>
          </div>
        </div>

        <hr style="width: 100%;">

        <div class="card" data-aos="zoom-out-up" data-aos-delay="300" data-aos-anchor-placement="bottom-bottom">
          <div class="image-container">
            <img src="../assets/images/brigadeiro.jpg" alt="imagem-prato">
          </div>
          <div class="info-text">
            <h5>Nome</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio facere rerum blanditiis fugiat fuga voluptatem mollitia, veniam harum numquam veritatis!</p>
            <p>Valor: R$9,99</p>
          </div>
        </div>

      </div>

      <div class="right">

        <div class="card" data-aos="zoom-out-up" data-aos-delay="150" data-aos-anchor-placement="bottom-bottom">
          <div class="image-container">
            <img src="../assets/images/brigadeiro.jpg" alt="imagem-prato">
          </div>
          <div class="info-text">
            <h5>Nome</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio facere rerum blanditiis fugiat fuga voluptatem mollitia, veniam harum numquam veritatis!</p>
            <p>Valor: R$9,99</p>
          </div>
        </div>

        <hr style="width: 100%;">

        <div class="card" data-aos="zoom-out-up" data-aos-delay="250" data-aos-anchor-placement="bottom-bottom">
          <div class="image-container">
            <img src="../assets/images/brigadeiro.jpg" alt="imagem-prato">
          </div>
          <div class="info-text">
            <h5>Nome</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio facere rerum blanditiis fugiat fuga voluptatem mollitia, veniam harum numquam veritatis!</p>
            <p>Valor: R$9,99</p>
          </div>
        </div>

        <hr style="width: 100%;">

        <div class="card" data-aos="zoom-out-up" data-aos-delay="300" data-aos-anchor-placement="bottom-bottom">
          <div class="image-container">
            <img src="../assets/images/brigadeiro.jpg" alt="imagem-prato">
          </div>
          <div class="info-text">
            <h5>Nome</h5>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio facere rerum blanditiis fugiat fuga voluptatem mollitia, veniam harum numquam veritatis!</p>
            <p>Valor: R$9,99</p>
          </div>
        </div>

      </div>
    </div>
  </div> -->

  <div class="card-deck">
    <div class="card">
      <img src="" alt="Card image cap" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Nome</h5>
        <p class="card-text"></p>
        <p class="card-text">Valor: <b>R$ 9,99</b></p>
      </div>
    </div>

    <div class="card">
      <img src="" alt="Card image cap" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Nome</h5>
        <p class="card-text"></p>
        <p class="card-text">Valor: <b>R$ 9,99</b></p>
      </div>
    </div>

    <div class="card">
      <img src="" alt="Card image cap" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Nome</h5>
        <p class="card-text"></p>
        <p class="card-text">Valor: <b>R$ 9,99</b></p>
      </div>
    </div>
  </div>
</section>


<!-- Seção de Reserva (Book a Table) -->
<section id="reserva" class="book-table">
  <div class="inner-container">
    <div class="image-container1">  <!-- Imagem de fundo ao lado esquerdo da tela -->
      <img src="" alt="Imagem">
    </div>

    <div class="form-container">  <!-- Form de cadastro de informações -->
      <form action="" class="form-book">
        <div class="form-group">

        </div>
      </form>
    </div>
  </div>
</section>

