@import url("../styles.scss");


/* ESTILOS DO HEADER */
.sticky-header{
    top: 0;
    width: 100%;
    min-height: 64px;
    position: -webkit-sticky;
    position: sticky;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-header1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.title{
    float: left;
    margin: 10px;
    font-family: 'Emilys Candy', cursive;
}
.list-inline{
    display: inline-flex;
    list-style: none;
    float: right;
    margin: 30px;
    margin-top: 35px;
    overflow: hidden;
}
li a{
    display: inline-block;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    // margin-top: 15px;
    text-decoration: none;
    font-size: var(--text-font-size);
    transition: .3s;
}
li:last-child{
    // margin-top: 15px;
    margin-left: 60px;
}
// -------------------------------------------------- //
// ----- UNDERLINE ----- //
.hover-underline::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    // margin-bottom: 10px;
    background-color: var(--text-color);
    transform-origin: bottom left;
    transition: transform .4s ease-out;
}
.hover-underline:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}