/* You can add global styles to this file, and also import other style files */

// ----- Definição dos temas ----- //
.dark-theme{
    --background-color1: #1f1316;
    --background-color2: rgba(255, 189, 225, 0.253);
    --background-image: url("./assets/images/cool-dark-background.png");
    --text-color: #f5f5f5;
    --boxtext-color: #f5f5f5;
    --header-color: #413b3d;
    --button-color: #1d0911;

    --border-color: #ffa8de;
    --box-gradient1: #ef5777;
    --box-gradient2: #b71540;

    --shadow-color: #ffadd6;
}
.light-theme{
    --background-color1: #cfe8fc;
    --background-color2: rgba(31, 67, 78, 0.26);
    --background-image: url("./assets/images/cool-light-background.png");
    --text-color: #000000;
    --boxtext-color: #f5f5f5;
    --header-color: rgb(245, 251, 255);
    --button-color: rgb(68, 132, 168);

    --border-color: #34e7e4;
    --box-gradient1: #0894c7;
    --box-gradient2: #0a639b;

    --shadow-color: #001029ab;
}

// ----- Estilos individuais ----- //
body{
    padding: 0;
    margin: 0;
    /* font-family: 'Kalam', cursive; */
    font-family: 'Quicksand', sans-serif;
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-color);
    position: relative;
    transition: all .5s;
}

h1, h2, h5, p, a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
}


/* Cards com opções [DESCONTINUADO] */
/* .options-list a{
    color: var(--boxtext-color);
}
// ---------- //
.options-list{
    width: 100%;
    margin: 0px 0px;
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.option-card{
    height: 300px;
    width: 250px;
    padding: 10px;
    margin-top: 50px;
    border: 1px solid var(--border-color);
    
    background-image: linear-gradient(
        to bottom right,
        var(--border-color) 1%,
        var(--box-gradient1) 25%,
        var(--box-gradient2) 60%
        );
    
        border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .3s;
}
.option-card img{
    height: 100px;
    width: 100px;
    margin: 10px;
}
.option-card:hover{
    box-shadow: 0px -65px 1px var(--shadow-color);
    transform: translate(0px, 65px);
} */
