/* ---------- IMPORTAÇÕES DE ESTILOS ---------- */
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');


/* ---------- FONTES PERSONALIZADAS ---------- */
@font-face{
    font-family: cafeFrancoise;
    src: url("./assets/fonts/cafe-francoise/cafe_francoise_d.otf");
}
@font-face{
    font-family: croissantOne;
    src: url("./assets/fonts/croissant-one/CroissantOne-Regular.otf");
}
@font-face{
    font-family: blackSpartan;
    src: url("./assets/fonts/black-spartan-personal-use/black_spartan.ttf");
}

/* ---------- FIM DAS IMPORTAÇÕES ---------- */

/* ---------- | --------------- | ---------- */

// ----- Definição dos temas ----- //
.dark-theme{
    /* Cores/Imagens de Fundo */
    --background-header1: #0f0d0de1;
    --background-color1: #0f0d0d;
    --background-image1: url("./assets/images/cool-dark-background2.jpg");
    --background-image2: url("./assets/images/chocolate-background.jpg");
    --background-image3: url("./assets/images/cool-dark-background4.jpg");
    --header-color: #413b3d;
    --button-color: #1d0911;

    --background-arrow1: rgba(241, 211, 220, 0.1);
    --background-arrow2: rgba(241, 211, 220, 0.2);

    --tabs-background1: #2e1b19c9;
    --tabs-background2: #2c0d04;

    /* Gradientes */
    --box-gradient1: #ef5777;
    --box-gradient2: #b71540;

    /* Bordas */
    --border-color: #f8cdc8;

    /* Texto */
    --boxtext-color: #f5f5f5;
    --text-color: #f5f5f5;
    --scroll-arrow-color: rgb(255, 247, 250);
    --secondary-color: #000000;
    --title-font-size: 28px;
    --text-font-size: 16px;

    /* Sombras */
    --shadow-color1: #ffadd6;
    --shadow-color2: #cc756e80;
}
.light-theme{
    /* Cores/Imagens de Fundo */
    --background-header1: #dee8f0d8;
    --background-color1: #E0F2FE;
    --background-image1: url("./assets/images/cool-dark-background7.jpg");
    --background-image2: url("./assets/images/red-valvet-background.jpg");
    --background-image3: url("./assets/images/cool-dark-background5.jpg");
    --header-color: rgb(245, 251, 255);
    --button-color: rgb(68, 132, 168);

    --background-arrow1: rgba(211, 240, 241, 0.1);
    --background-arrow2: rgba(211, 240, 241, 0.2);

    --tabs-background1: #c4f1ffe5;
    --tabs-background2: #41b3f5;

    /* Gradientes */
    --box-gradient1: #0894c7;
    --box-gradient2: #0a639b;

    /* Bordas */
    --border-color: #34e7e4;

    /* Texto */
    --boxtext-color: #000000;
    --text-color: #000000;
    --scroll-arrow-color: rgb(255, 247, 250);
    --secondary-color: #f5f5f5;
    --title-font-size: 28px;
    --text-font-size: 16px;

    /* Sombras */
    --shadow-color1: #001029ab;
    --shadow-color2: #0026295d;
}

// ----- Estilos individuais ----- //
*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
    width: 100%;
}
body{
    width: 100%;
    max-width: 100%;
    min-height: 110vh;
    /* font-family: 'Kalam', cursive; */
    font-family: 'Quicksand', sans-serif;
    background-image: var(--background-image1);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    color: var(--text-color);
    position: relative;
    transition: all .5s;
}

h1, h2, h5, p, a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    font-size: var(--title-font-size);
}

/* --------------- ||| --------------- */
.home-screen{
    height: 100vh;
    padding: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.down-arrow{
    width: 80px;
    height: 80px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: var(--background-arrow1);
    color: var(--scroll-arrow-color);
    transition: all .5s;
}
.down-arrow:hover{
    background-color: var(--background-arrow2);
}
.ripple-loader div{
    position: absolute;
    border: 1px solid #fff;
    border-radius: 50%;
    animation: ripple-loader 2s ease-out infinite;
}
@keyframes ripple-loader{
    0%{
        top: 75;
        left: 75;
        width: 120px;
        height: 120px;
        opacity: 1;
    }
    100%{
        top: -75;
        left: -75;
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

/* ----- Animação da seta para baixo ----- */
.fa-chevrondown{
    margin-bottom: 10px;
    color: var(--scroll-arrow-color);
    display: block;
    animation: bounce 2s ease infinite;
}
@keyframes bounce{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0);
    }
}

/* --------------- ||| --------------- */
#sobre{
    background-color: var(--background-color1);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all .5s;
}
.left-column{
    color: var(--text-color);
    margin: 0;
    height: 100vh;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: all .4s;
}
.text-container{
    padding-right: 20%;
    padding-left: 20%;
}

.text-container p{
    font-size: var(--text-font-size);
    line-height: 25px;
}

.text-container h5{
    /*font-family: 'Emilys Candy', cursive; */
    font-family: blackSpartan;
    font-size: 30px;
    line-height: 20px;
}
.menu-link{
    font-size: var(--text-font-size);
    width: fit-content;
    line-height: 45px;
    padding: 15px;
    border: 2px solid var(--text-color);
    transition: all .4s;
}
.menu-link:hover{
    color: var(--secondary-color);
    background-color: var(--boxtext-color);
}

.right-column{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 45%;
    transition: all .4s;
}
.inner-right-column .image1{
    width: 90%;
    height: 90%;
    transition: all .4s;
    border-radius: 25%;
    box-shadow: -70px 80px 0px 10px var(--shadow-color2);
}

/* --------------- ||| --------------- */
#menu{
    background-color: var(--background-color1);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* --------------- ||| --------------- */
#reserva{
    background-color: var(--background-color1);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

